
/* p{border:0;outline:0;vertical-align:baseline;margin:0;padding:3px;} */

/*MAIN STYLE*/
/*html,body{width:100%;height:100%;}*/
/*body{font-size:12px;font-family:calibri,arial;}*/
/*//////////////MESSAGE BOX/////////////////*/
.msgboxOverlay{position:fixed;width:100%; height:100%;z-index:1000;text-align:center;}
.msgwrapper{position:relative;z-index:1001;top:30%;}
.msgcontainer{position:relative;min-width:300px;background:#fff;display:inline-block;border:1px solid #244568;max-width:500px;}
.msgheader{padding:15px;text-align:left;font-weight:400;color:#fff;font-size:16px;}
.msg{padding:20px 30px;text-align:left; }
.msgclose{float:right;background:url(/resources/svc/images/close.png) no-repeat center center;width:11px;height:11px;display:inline-block;text-indent:-999em; margin-top:5px; margin-right:5px}
.msgfooter{padding:10px 0;background:#fff; text-align:center;}
.alert-box .msgfooter button{
/*margin-right:140px;*/
border: 1px solid #0d1e2f;
background:#fff;
color:#0d1e2f;
padding:5px 40px;
font-size:14px;
cursor:pointer;

}
.alert-box .msgfooter button:hover {color:#fff; background:#032e50;}
/*////////////INFORMATION/////////////////*/
.information .msgheader{background:#244568;padding:10px;}
/*////////////SUCCESS/////////////////*/
.success .msgheader{background:#51CA64;}
/*////////////ERROR/////////////////*/
.error .msgheader{background:#F95C5C;}
/*////////////WARNING/////////////////*/
.warning .msgheader{background:#ECAF50;}
/*////////////CONFIRM/////////////////*/
