@charset "utf-8";
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Regular.woff2) format('woff2'),
       url(../fonts/NanumGothic-Regular.woff) format('woff'),
       url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Bold.woff2) format('woff2'),
       url(../fonts/NanumGothic-Bold.woff) format('woff'),
       url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}

/* �떖�삎鍮� : �룿�듃異붽� 20170203 */
@font-face {
     font-family: 'NanumSquare';
     font-style: normal;
     font-weight: 400;
     src: url(../fonts/NanumSquareR.eot);
     src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
          url(../fonts/NanumSquareR.woff2) format('woff2'),
          url(../fonts/NanumSquareR.woff) format('woff'),
          url(../fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
     font-family: 'NanumSquare';
     font-style: normal;
     font-weight: 700;
     src: url(../fonts/NanumSquareB.eot);
     src: url(../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
          url(../fonts/NanumSquareB.woff2) format('woff2'),
          url(../fonts/NanumSquareB.woff) format('woff'),
          url(../fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 400;
 src: url(NanumBarunGothic.eot);
 src: url(NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
      url(NanumBarunGothic.woff) format('woff'),
      url(NanumBarunGothic.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic_bold';
 font-weight: 700;
 src: url(NanumBarunGothicBold.eot);
 src: url(NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
      url(NanumBarunGothicBold.woff) format('woff'),
      url(NanumBarunGothicBold.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 300;
 src: url(NanumBarunGothicLight.eot);
 src: url(NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
      url(NanumBarunGothicLight.woff) format('woff'),
      url(NanumBarunGothicLight.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 200;
 src: url(NanumBarunGothicUltraLight.eot);
 src: url(NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
      url(NanumBarunGothicUltraLight.woff) format('woff'),
      url(NanumBarunGothicUltraLight.ttf) format('truetype');
}

/* * Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */

/* @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSans-Bold.eot);
    src:url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Bold.woff) format('woff'),
    url(../fonts/NotoSans-Bold.otf) format('opentype');
}
 */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:300;
src:url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
	url(../fonts/NotoSansKR-Light.woff) format('woff'),
	url(../fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:400;
src:url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
	url(../fonts/NotoSansKR-Regular.woff) format('woff'),
	url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:500;
src:url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
	url(../fonts/NotoSansKR-Medium.woff) format('woff'),
	url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
font-family:'Noto Sans KR_bold';
font-style:normal;
font-weight:700;
src:url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
	url(../fonts/NotoSansKR-Bold.woff) format('woff'),
	url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}


/* base style */
body,div,dl,dt,dd,ul,ol,li,pre,code,fieldset,legend,input,button,textarea,p,blockquote,th,td,select{font-size:15px; line-height:1.428571429; color:#17171c}
@media (min-width: 768px) {
   body,div,dl,dt,dd,ul,ol,li,pre,code,fieldset,legend,input,button,textarea,p,blockquote,th,td,select{font-family:Noto Sans KR,'Nanum Gothic','留묒� 怨좊뵓','�룍��',Dotum,AppleGothic,Helvetica,sans-serif;}
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
html{font-family:Noto Sans KR;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;/* 1 */vertical-align:baseline/* 2 */}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent;text-decoration:none; font-weight:inherit; box-sizing: border-box;}
a:active{outline:0;text-decoration:none; font-weight:inherit; box-sizing: border-box; cursor:pointer; transition: all 0.4s ease-out; -ms-transition: all 0.4s ease-out; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out;}
a:hover{ cursor:pointer; transition: all 0.4s ease-out; -ms-transition: all 0.4s ease-out; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; }
/* :hover{ transition: all 0.4s ease-out; -ms-transition: all 0.4s ease-out; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; } */
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{height:0;box-sizing:content-box}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{padding:0;box-sizing:border-box}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid #c0c0c0}
legend{padding:0;border:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}

h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
input,select,textarea,button,label{font-size:14px; vertical-align:middle}
input,select{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
input:focus { outline:none; }
fieldset,img,iframe{border:0 none}
img{vertical-align:middle}
textarea{resize:none}
em,address{font-style:normal}
a{color:#2f2f33;text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
menu,li{list-style:none}
button{margin:0;padding:0;border:0;vertical-align:middle;cursor:pointer}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
ul,ol,li,dl,dt,dd{list-style:none}
i,em,address{font-style:normal}
label{}
table{border-collapse:collapse;border-spacing:0}
address,cite,em{font-style:normal}
a:link,a:active{color:#232329;text-decoration:none}
a:visited{color:#232329;text-decoration:none}
a:hover{color:#007eff;text-decoration:none}
#txtStnNm {border:solid 1px #dcdcdc}

/* 諛섏쓳�삎 湲곕낯 �꽭�똿 */

/*img,video{max-width:100%;height:auto}
video{min-width:100%}*/

/* default class */
.hide{display:none !important}
.show{display:block !important}
.invisible{visibility:hidden}
.hidden{display:none !important;visibility:hidden !important}
.blind,.access-hide,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.bd-none{border:none !important}
.bg-none{background:none !important}
.text-hide{border:0;background-color:transparent;font-size:0; color:transparent;text-shadow:none}
.file-hide {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}
.file-input {
	display: inline-block;
	width: 80%;
	border: 1px solid #7A7A7A;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

}
.tc,.text-center{text-align:center !important}
.tl,.text-left{text-align:left !important}
.tr,.text-right{text-align:right !important}
.text-justify{text-align:justify !important}
.text-nowrap{white-space:nowrap !important}
.fl,.float-left{float:left !important}
.fr,.float-right{float:right !important}
.clear{clear:both !important}
.img-responsive,.thumbnail > img,
.thumbnail a > img,
.board-detail-content img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{display:block;max-width:100%;height:auto}
.searchBtn-display {position: relative;left: 42.5%}
.searchBtn-display_left42 {position: relative;left: 42%}
.searchBtn-display_left45_4 {position: relative;left: 45.4%}
/* skip navi to content */
.skip-nav a{position:absolute;top:-9999em;z-index:9999;width:100%;background:#475470;font:bold 1.3em;font-weight:bold;color:#fff;text-align:center}
.skip-nav a:hover,.skip-nav a:active,.skip-nav a:focus{top:0;padding:12px 0;color:#fff}

/* typography */
.nanum400{font-family:NanumGothic,'Nanum Gothic';font-weight:400}
.nanum700{font-family:NanumGothic,'Nanum Gothic';font-weight:700}
.nanum800{font-family:NanumGothic,'Nanum Gothic';font-weight:800}
.b{font-weight:700;font-weight:bold}
.bb{font-weight:800}

/* top */
.top_area {border-bottom:solid 1px #d9d9d9; padding:3px 0px;}
.top_area dl.logo_box {width:1070px; margin:0 auto;}
.top_area dl.logo_box {overflow:hidden;}
.top_area dl.logo_box dt {float:left;}
.top_area dl.logo_box dt h1, .top_area dl.logo_box dt h2 {float:left;}
.top_area dl.logo_box dt h2 {margin-left:10px;}
.top_area dl.logo_box dd {float:right;}
.top_area dl.logo_box dd ul {overflow:hidden; margin-top:8px;}
.top_area dl.logo_box dd ul li:first-child {background:none;}
.top_area dl.logo_box dd ul li {float:left; font-size:15px; line-height:16px; background:url('../images/common/top_line.gif') left 3px no-repeat; margin-left:10px; padding-left:10px; color:#52525a;}
.top_area dl.logo_box dd ul li a {color:#52525a;}
.favorite {background:url('../images/common/favor.gif') left 3px no-repeat; padding-left:20px; cursor: pointer; color:#52525a;}
.fixbtn {position:static; margin:0px;}

/* 콘텐츠 상단 Tools */
.fixbtn1{width:51px;height:20px;margin:0 0 0 0;background:url(../images/content/btn_font.gif) no-repeat; vertical-align:middle;}
.fixbtn1 li{float:left;width:25px}
.fixbtn1 .btn-font-plus,.fixbtn1 .btn-font-minus,.fixbtn1 li a{display:block;overflow:hidden;width:100%;height:20px;padding:0;border:none;background:none;line-height:20px;text-indent:-9999em}
.top_area dl.logo_box dt a { display:inline-block; margin:0 10px 0 0;}
.top_area dl.logo_box dd ul ul {margin-top:0px;}
.top_area dl.logo_box dd ul ul li {margin-left:0px; padding-left:0px; background:none;}
.mtop_area dl.mlogo_box dt a { display:inline-block; margin:0 10px 0 0;}
.mtop_area dl.mlogo_box dd ul ul {margin-top:0px;}
.mtop_area dl.mlogo_box dd ul ul li {margin-left:0px; padding-left:0px; background:none;}


.header_wrap {width:1070px; margin:0 auto;}

/* sub 상단 검색 영역 */
.search-area {padding:30px 0px; overflow:hidden;}
.search_box {float:left; border: 1px solid rgba(203, 212, 219, 0.4); box-shadow: 0px 0px 3px 4px rgba(203, 212, 219, 0.4); width:743px; text-align:left; margin-left:8px;}
.search_box input {width:680px; height:46px; line-height:46px; margin-left:20px; border:0px; font-size:16px; }
.search_box a {display:inline-block; width:35px; height:33px; padding-top:5px; text-align:center;}
select.plist1 {float:right; font-size:16px; margin-right:10px; background: url(../images/common/select_arrow.gif) 95% 50% no-repeat; border: 1px solid rgba(203, 212, 219, 0.4); box-shadow: 0px 0px 3px 4px rgba(203, 212, 219, 0.4); width:280px; height:49px; -webkit-appearance:none; -moz-appearance:none; text-indent:1px;}
select.plist1 span {display:block; padding-left:10px;}

/* 지도 */
/* 지도 테이블 */
.pop_he1 {position:relative; height:700px; top: 0px;}
.datapop-map-area.srch-list.pophgt {height:auto !important;}
#wrap-datapop.pop_he1 {height:auto;}
.pophgt6 {height:600px}
.map_table1 {width:640px; margin:10px 0px;}
.gmap_box1 {border:1px solid #000; width:640px !important; height:500px; z-index:1;}
.gmap_box2 {border:1px solid #000; width:500px; height:400px; margin:20px;  z-index:1;}
.map_rab1 {width:640px; margin:5px 5px 0px 20px;}

[data-tooltip-text]:hover {position: relative;}
[data-tooltip-text]:hover:after {content:attr(data-tooltip-text); position:absolute; bottom:100%; left:0; background-color:rgba(0, 0, 0, 0.8); color:#FFFFFF; font-size:14px; z-index:9999; border-radius:3px; padding:3px 5px;}
