<!DOCTYPE html>
  <html lang="en">
    <head>
      <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
      <script type=text/javascript>
        $(function() {
            $('#training').click(function(){
              $.ajax({
                url: '/train',
                data:{
                  c: $('#c').val()
                },
                dataType: 'JSON',
                type: 'GET',
                success: function(data){
                    $("#resulttrain").html(data.resultdata['resulttrain']);
                    $("#resulttest").html(data.resultdata['resulttest']);
                }
                });
             });
        });
  </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">addNum</h3>
      </div>
      <hr/>
      <div>
      <p>
    <p><input type="text" id='c' size="5" name="c">
    <p><span id="resulttrain">훈련세트점수</span>
    <p><span id="resulttest">검증세트점수</span>

    <p><button class="btn btn-success" id="training">training</button>
      </form>
      </div>
    </div>
  </body>
</html>